@font-face
{
    font-family:American;
    src: url("../fonts/american.woff");
}

a
{
    text-decoration:none;
    color:black;
}

a:visited
{
    color:black;
}

div h1
{
    text-align:center;
}

nav
{
    font-size:2.5em;
    border: 2px black solid;
    border-radius:.2em;
    color:black;
    background-color:#660000;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

header
{
    font-family:American;
    text-align:center;
    font-size: 2em;
}

header h1
{
    font-size:2em;
    color:black;
    text-shadow: .1em .1em #4b4b4b;  
}

footer
{
    border-radius:.2em;
    border:2px black solid;
    background-color:#660000;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0;
    text-align:center;
    color:black;
    bottom: 0;
}

table h1, h2
{
    text-align:center;    
}

table
{
    margin-left:auto;
    margin-right:auto;    
}

body
{
    background-image: url("../images/grey_wood.jpg");
    background-attachment: fixed;
}

hr
{
color:#2EB8E6;    
}

.social_links
{
    max-width:2em;
}

.aboutImages
{
    border: transparent 1em;
}
.container
{
       /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(aliceblue), to(#0000BA));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, aliceblue, #0000BA);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, aliceblue, #0000BA);

  /* IE 10 */
    border:1px black solid;
    width:80%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    padding-top:6em;
    padding-bottom:6.3em;
    color:black;
}
#outerContainer
{
   /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(aliceblue), to(#0000BA));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, aliceblue, #0000BA);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, aliceblue, #0000BA);

  /* IE 10 */
    border:1px black solid;
    width:80%;
    margin-top:0;
    margin-bottom:0em;
    margin-left:auto;
    margin-right:auto;
    padding-top:6em;
    padding-bottom:6.3em;
    color:black;
}

#outerContainer h1
{
    text-align:center
}
#featuredDrink
{
    height:30em;
    border: transparent .5em;
}
#featuredFood
{
    height:30em;
    border: transparent .5em;
}

#contactInfo p
{
    font-size:1.5em;
}

#socialMedia
{
    display:inline-block;
}

@media (max-width: 643px)
{
    #featuredDrink
    {
        height:10em;
    }
    
    #featuredFood
    {
        height:10em;
    }
}